NODE_ENV=development
PORT=3000

TURSO_DATABASE_URL=libsql://athlixir-athlixir.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODU0NDIxNzIsImlkIjoiMDE5ZmI0YTQtMjIwMS03OWM4LThkYzEtZWJhZjQ2OTY0M2NiIiwia2lkIjoiQVNMQlU2QzFjbnRPd0Y2ZWZ0djhlOFI2MXRLcUd0SUdBNlg3aWx3TVlfSSIsInJpZCI6IjMwNmFlZTU3LWZjYjctNGIwZi1hNmFhLTlhMmM0ZGZjZDVlYiJ9.y8gVjSVfMMbK8WhqqsbVDP3MjEwr0w83Kz8stZsou1WlnOqyLn7nm0zQ4_Q6bspFVzIhANeZt9hJOkIH2HMaCg

DB_PATH=./data/sports.db

BCRYPT_SALT_ROUNDS=10
CORS_ORIGINS=http://localhost:8081,http://10.0.2.2:8081